In [3]:
import pandas as pd
from scipy import sparse
from sklearn.metrics.pairwise import cosine_similarity

In [17]:
ratings = pd.read_csv("play_dataset.csv",index_col=0)
ratings = ratings.fillna(0)
ratings

        action1  action2  action3  romantic1  romantic2  romantic3
user 1      4.0      5.0      3.0        0.0        2.0        1.0
user 2      5.0      3.0      3.0        2.0        2.0        0.0
user 3      1.0      0.0      0.0        4.0        5.0        4.0
user 4      0.0      2.0      1.0        4.0        0.0        3.0
user 5      1.0      0.0      2.0        3.0        3.0        4.0

In [18]:
# Membuat matriks transpose
item_similarity = cosine_similarity(ratings.T)
print(item_similarity)

[[1.         0.86584872 0.92214635 0.38646346 0.61180705 0.28237248]
 [0.86584872 1.         0.87946312 0.33855558 0.40050094 0.2753444 ]
 [0.92214635 0.87946312 1.         0.4973359  0.57914051 0.45044262]
 [0.38646346 0.33855558 0.4973359  1.         0.75907212 0.92008741]
 [0.61180705 0.40050094 0.57914051 0.75907212 1.         0.80952381]
 [0.28237248 0.2753444  0.45044262 0.92008741 0.80952381 1.        ]]

In [19]:
item_similarity_df = pd.DataFrame(item_similarity,index=ratings.columns,columns=ratings.columns)
item_similarity_df

# Ketika di-run akan menghasilkan final Data Frame item similarity
# contoh pembacaan :
# action 1 & action 1 memiliki 100% similarity (tinggi, karena item yg sama)
# action 1 & action 2 memiliki 86% similarity (tinggi, karena genre sama)
# action 1 & romance 3 memiliki 20% similarity (rendah, karena berbeda genre)

            action1   action2   action3  romantic1  romantic2  romantic3
action1    1.000000  0.865849  0.922146   0.386463   0.611807   0.282372
action2    0.865849  1.000000  0.879463   0.338556   0.400501   0.275344
action3    0.922146  0.879463  1.000000   0.497336   0.579141   0.450443
romantic1  0.386463  0.338556  0.497336   1.000000   0.759072   0.920087
romantic2  0.611807  0.400501  0.579141   0.759072   1.000000   0.809524
romantic3  0.282372  0.275344  0.450443   0.920087   0.809524   1.000000

In [21]:
# membuat rekomendasi
# membuat metode "get_simillar_movie"

def get_similar_movies(movie_name,user_rating):
    similar_score = item_similarity_df[movie_name]*(user_rating) # 2.5= nilai tengah2 yang mungkin diberi dari skala 1-5
    similar_score = similar_score.sort_values(ascending=False)
    
    return similar_score

print(get_similar_movies("romantic3",1))

# ketika di run akan menghasilkan urutan film berdasarkan tingkat similarity

romantic3    1.000000
romantic1    0.920087
romantic2    0.809524
action3      0.450443
action1      0.282372
action2      0.275344
Name: romantic3, dtype: float64

In [23]:
# membuat rekomendasi dari history yg ditonton (beberapa film)

pecinta_action = [("action1",5),("romantic2",1),("romantic1",1)]

similar_movies = pd.DataFrame()

for movie,rating in pecinta_action:
    similar_movies = similar_movies.append(get_similar_movies(movie,rating), ignore_index=True)
    
similar_movies.head()
similar_movies.sum().sort_values(ascending=False)

action1      5.998271
action3      5.687208
action2      5.068300
romantic2    4.818107
romantic1    3.691389
romantic3    3.141474
dtype: float64